In [212]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [213]:
# Read the data:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
wine = pd.concat([train,test],ignore_index=True)

In [214]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175000 entries, 0 to 174999
Data columns (total 14 columns):
country                  174953 non-null object
description              175000 non-null object
designation              122734 non-null object
points                   175000 non-null float64
price                    175000 non-null float64
province                 174953 non-null object
region_1                 146466 non-null object
region_2                 75394 non-null object
taster_name              65509 non-null object
taster_twitter_handle    62190 non-null object
title                    82189 non-null object
variety                  174999 non-null object
winery                   175000 non-null object
id                       175000 non-null int64
dtypes: float64(2), int64(1), object(11)
memory usage: 18.7+ MB

In [215]:
train.describe()

              points          price             id
count  175000.000000  175000.000000  175000.000000
mean       88.083987      34.304400   70684.047240
std         3.157001      38.398146   41341.638798
min        79.636128       4.000000       1.000000
25%        85.971283      16.000000   35020.000000
50%        87.981631      25.000000   70256.500000
75%        90.085631      40.000000  105550.250000
max       100.220603    2500.000000  150929.000000

In [216]:
train.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,id
0,Portugal,This is a fine rich balanced wine. It has ripe...,Vila Santa Reserva,88.870874,20.0,Alentejano,NaN,NaN,NaN,NaN,NaN,PORTUGUESE RED,J. Portugal Ramos,32027
1,France,"A solid, chunky wine, with a structure that is...",NaN,88.041695,28.0,Bordeaux,Lalande de Pomerol,NaN,NaN,NaN,NaN,BORDEAUX-STYLE RED BLEND,Château Tour Grand Colombier,71079
2,France,"This is powerful and concentrated, with the hi...",NaN,94.085021,130.0,Bordeaux,Saint-Émilion,NaN,NaN,NaN,NaN,BORDEAUX-STYLE RED BLEND,Château Figeac,32440
3,US,"Rich, ripe and oaky, this Petite Sirah charms ...",Thompson Vineyard,89.869797,34.0,California,Santa Barbara County,Central Coast,NaN,NaN,Jaffurs 2010 Thompson Vineyard Petite Sirah (S...,PETITE SIRAH,Jaffurs,124405
4,US,This wine is a unique in the state blend and f...,McKinley Springs Vineyard,89.017651,24.0,Washington,Horse Heaven Hills,Columbia Valley,Sean P. Sullivan,@wawinereport,Syncline 2016 McKinley Springs Vineyard Rosé (...,ROSé,Syncline,33649

In [217]:
train.shape

(175000, 14)

In [218]:
train.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'id'],
      dtype='object')

In [219]:
train.dtypes

country                   object
description               object
designation               object
points                   float64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
id                         int64
dtype: object

In [220]:
train["country"].value_counts().head()

US        79129
Italy     24194
France    22060
Spain      9993
Chile      6893
Name: country, dtype: int64

In [221]:
train[train["country"] == "US-France"]

Empty DataFrame
Columns: [country, description, designation, points, price, province, region_1, region_2, taster_name, taster_twitter_handle, title, variety, winery, id]
Index: []

In [222]:
train["designation"].value_counts().head()

Reserve         3184
Reserva         2054
Estate          1921
Riserva          838
Estate Grown     746
Name: designation, dtype: int64

In [223]:
train["province"].value_counts().head()

California        54692
Washington        12404
Tuscany            7463
Oregon             6741
Northern Spain     5834
Name: province, dtype: int64

In [224]:
train["winery"].value_counts().head()

Williams Selyem          386
Testarossa               347
DFJ Vinhos               304
Chateau Ste. Michelle    282
Concha y Toro            254
Name: winery, dtype: int64

In [225]:
#sns.pairplot(train)

In [226]:
#Dealing with missing data
train.isnull().sum().sort_values()

description                   0
points                        0
price                         0
winery                        0
id                            0
variety                       1
country                      47
province                     47
region_1                  28534
designation               52266
title                     92811
region_2                  99606
taster_name              109491
taster_twitter_handle    112810
dtype: int64

In [227]:
#Dropping missing values column
train.notnull().sum().sort_values()

taster_twitter_handle     62190
taster_name               65509
region_2                  75394
title                     82189
designation              122734
region_1                 146466
country                  174953
province                 174953
variety                  174999
description              175000
points                   175000
price                    175000
winery                   175000
id                       175000
dtype: int64

In [228]:
columns_drop = ["designation","taster_name","taster_twitter_handle","title"]

In [229]:
train = train.drop(columns_drop, axis = 1)
test = test.drop(columns_drop, axis = 1)

In [230]:
train.isnull().sum()

country           47
description        0
points             0
price              0
province          47
region_1       28534
region_2       99606
variety            1
winery             0
id                 0
dtype: int64

In [231]:
#get countries and provinces that are null
coun_prov = train[train["country"].isnull()][train["province"].isnull()]

In [232]:
#get countries, provinces and price that are null
coun_prov_price = coun_prov[coun_prov["price"].isnull()]

In [233]:
coun_prov_price.shape

(0, 10)

In [234]:
#dropping 17 rows with null country, province and price
train.drop(coun_prov_price.index, inplace=True)
test.drop(coun_prov_price.index, inplace=True)

In [235]:
#get the most purchase variety
train["variety"].value_counts().head(5)

PINOT NOIR            18031
CHARDONNAY            16845
CABERNET SAUVIGNON    15035
RED BLEND             12125
SAUVIGNON BLANC        7352
Name: variety, dtype: int64

In [236]:
#get the index of the null variety
train[train["variety"].isnull()]

,country,description,points,price,province,region_1,region_2,variety,winery,id
86403,Chile,"A chalky, dusty mouthfeel nicely balances this...",88.046742,17.0,Maipo Valley,NaN,NaN,NaN,Carmen,86909

In [237]:
#replace the singular null variety with the most purchased variety
train.variety.iloc[86403] = "PINOT NOIR"

In [238]:
multi_index = ["country","province","region_1","region_2"]
train.sort_values(multi_index).set_index(multi_index)["price"].isnull().value_counts()

False    175000
Name: price, dtype: int64

In [239]:
train["price"] = train["price"].fillna(train["price"].mean())

In [240]:
train.isnull().sum()

country           47
description        0
points             0
price              0
province          47
region_1       28534
region_2       99606
variety            0
winery             0
id                 0
dtype: int64

In [241]:
test["price"] = test["price"].fillna(test["price"].mean())

In [242]:
col_drop = ["country", "province", "region_1", "region_2", "variety", "winery"]

In [243]:
train = train.drop(col_drop, axis=1)
test = test.drop(col_drop, axis=1)

In [244]:
train.isna().sum()

description    0
points         0
price          0
id             0
dtype: int64

In [245]:
train.shape

(175000, 4)

In [246]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD


#Train tfidf and svd
tf = TfidfVectorizer(analyzer='word',
                     min_df=10,
                     ngram_range=(1, 2),
                     stop_words='english')
svd = TruncatedSVD(n_components=5)

def transform_text(data, col):
    #Fit tfidf and svd, and transform training data
    tfidf_matrix = tf.fit_transform(data[col])
    lsa_features = pd.DataFrame(svd.fit_transform(tfidf_matrix))

    #Creat meaningful column names
    collist = map(str, range(0, 5))
    collist = ["latent_" + col + '_' + s for s in collist]
    lsa_features.columns = collist
    lsa_features = lsa_features.set_index(data.index)
    return lsa_features

train["description"] = transform_text(train, 'description')
test["description"] = transform_text(test, 'description')

In [125]:
#train["variety"] = transform_text(train, 'variety')
#test["variety"] = transform_text(test, 'variety')

train["winery"] = transform_text(wine, 'winery')
test["winery"] = transform_text(test, 'winery')

In [186]:
train.isna().sum()

description    0
points         0
price          0
id             0
dtype: int64

In [187]:
train["description"] = train["description"].fillna(train["description"].mean())
test["description"] = test["description"].fillna(test["description"].mean())

In [130]:
#train["variety"] = train["variety"].fillna(train["variety"].mean())
#test["variety"] = test["variety"].fillna(test["variety"].mean())

In [131]:
train["winery"] = train["winery"].fillna(train["winery"].mean())
test["winery"] = test["winery"].fillna(test["winery"].mean())

In [188]:
from sklearn.model_selection import train_test_split

In [189]:
X = train.drop('price',axis=1)
y = train['price']

In [190]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [193]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [210]:
train.head()

   description     points  price      id
0     0.119437  88.870874   20.0   32027
1     0.123318  88.041695   28.0   71079
2     0.130188  94.085021  130.0   32440
3     0.107863  89.869797   34.0  124405
4     0.095982  89.017651   24.0   33649

In [211]:
test.head()

   index  description     points  price  id
0  41855     0.149186  95.036469    NaN   0
1  10328     0.113620  90.966405    NaN   1
2  60094     0.111706  88.964358    NaN   2
3  48333     0.100189  89.960356    NaN   3
4  14498     0.105754  88.075501    NaN   4

In [ ]:
test.drop(columns=['id', 'price','index']))

In [194]:
from sklearn.tree import DecisionTreeRegressor

In [195]:
dtree = DecisionTreeRegressor()

In [196]:
dtree.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [197]:
y_pred = dtree.predict(X_test)

In [198]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 21.16390476190476
Mean Squared Error: 2224.708476190476
Root Mean Squared Error: 47.16681541285649

In [199]:
X_train[0]

array([-0.93558117, -0.3631372 , -1.50687115])

In [200]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred_rfr = regressor.predict(X_test)

In [201]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_rfr))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_rfr))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_rfr)))

Mean Absolute Error: 16.27988761904762
Mean Squared Error: 1372.2689543809527
Root Mean Squared Error: 37.04414871988494

In [209]:
predictions = regressor.predict(test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [148]:
predictions

array([40.3 , 42.35, 42.35, ..., 42.35, 42.35, 42.35])

In [149]:
pred1 = pd.DataFrame(predictions)
pred1.index.name = "id"
pred1.columns = ["price"]
pred1.to_csv('pred3')

In [150]:
pred1

       price
id
0      40.30
1      42.35
2      42.35
3      42.35
4      42.35
5      42.35
6      40.30
7      40.00
8      42.35
9      42.35
10     42.35
11     42.35
12     40.90
13     40.30
14     42.35
15     40.15
16     42.35
17     42.35
18     42.40
19     42.35
20     42.35
21     40.30
22     42.35
23     42.35
24     42.35
25     41.45
26     42.35
27     42.35
28     40.30
29     42.35
...      ...
83180  42.35
83181  40.90
83182  40.30
83183  42.35
83184  42.35
83185  42.35
83186  40.30
83187  42.35
83188  42.35
83189  42.35
83190  42.35
83191  41.00
83192  40.30
83193  42.35
83194  42.35
83195  42.35
83196  42.35
83197  42.35
83198  42.35
83199  42.35
83200  42.35
83201  42.35
83202  42.35
83203  42.35
83204  42.35
83205  42.35
83206  42.35
83207  42.35
83208  42.35
83209  42.35

[83210 rows x 1 columns]

       price
id
0      47.75
1      56.45
2      56.45
3      56.55
4      57.25
5      56.45
6      47.75
7      56.45
8      57.25
9      57.35
10     56.45
11     57.25
12     47.75
13     47.75
14     56.45
15     56.45
16     56.45
17     56.45
18     56.50
19     56.45
20     56.45
21     47.75
22     57.35
23     56.45
24     57.25
25     57.25
26     56.45
27     57.25
28     47.85
29     56.45
...      ...
83180  56.45
83181  47.75
83182  47.75
83183  56.45
83184  57.25
83185  56.45
83186  47.75
83187  56.45
83188  56.45
83189  56.45
83190  56.45
83191  47.75
83192  47.75
83193  56.45
83194  57.35
83195  56.45
83196  56.45
83197  56.45
83198  56.65
83199  56.45
83200  56.65
83201  56.45
83202  56.45
83203  57.25
83204  56.45
83205  56.45
83206  56.45
83207  56.45
83208  57.25
83209  56.45

[83210 rows x 1 columns]